@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #252426;
}

.container  {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    position: relative;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo {
    color: #7c2aa5;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
   font-size: 15px;
   padding: 20px;
   color: #7c2aa5;
   display: block;
   font-weight: 400;
   
}
.menu .navbar ul li a:hover {
    color: #66596c;
 }

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}
.submenu {
    position: relative;
}
.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(3px);
    top: 100%;
    z-index: 1;
    background-color: #8d8d8d28;
    padding: 20px;
    min-height: 400px;
    min-width: 400px;
}

table {
    width: 100%;
}
th {
    color: #000000;
}

td {
    color: #000000;
}

.borrar {
    background-color: #66596c;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
}

.header-content {
    position: relative;
    text-align: center;
    margin-top: 300px;
}

.header-content h1 {
    font-size: 70px;
    color: #646165;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-content p {
    font-size: 18px;
    padding: 0 200px;
    color: chocolate;
    margin-bottom: 80px;
}

.botons {
    display: flex;
    justify-content: center;
}

.btn-1 {
    display: inline-block;
    width: 200px;
    margin: 0 10px;
    padding: 13px 0;
    border-radius: 25px;
    color: rgb(212, 208, 208);
    text-transform: uppercase;
    background-color: rgb(116, 6, 6);
}
.btn-1:hover {
    background-color: rgba(116, 6, 6, 0.563);
}

.socials-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
}

.socials-1 img {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}

.arrow {
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
}

.recetas {
    display: flex;
    padding: 120px 0;
}

.recetas-1 {
width: 50%;
}

.recetas-1 h3{
    font-size: 18px;
    color: #333;
}
.recetas-1 p{
    font-size: 18px;
    color: #645e5e;
}
.recetas-1 hr{
    margin: 10px 0;
    border: 1px solid #333;
}

.recetas-2 {
    width: 50%;
    text-align: center;
}
.recetas-2 h3 {
    font-size: 45px ;
    line-height: 55px;
    color: rgb(116, 6, 6);
}

.platillos {
    padding: 50px 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    padding-bottom: 80px ;
}

.swiper-button-prev::after {
    font-size: 25px ;
}
.swiper-button-next::after {
    font-size: 25px ;
}

.swiper-button-prev {
    color: #cc5a0e;
}
.swiper-button-next {
    color: #cc5a0e;
}

.swiper-pagination-bullet {
    background-color: #333;
    opacity: 1;
    top: 50px;
}
.swiper-pagination-bullet-active {
    background-color: #d8550e;
}

.platillo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.platillo h3 {
    font-size: 16px;
    color: #645e5e;
    margin-bottom: 10px;
}

.precio {
    font-size: 18px;
    color: #645e5e !important;
}

.platillo img {
    width: 200px;
}

.platillo p {
    font-size: 16px;
    color: #333;
    margin-top: 15px;
}

.btn-2 {
    display: inline-block;
    padding: 8px 15px;
    background-color: rgb(116, 6, 6);
    color: #fff;
    font-size: 14px;
    margin-top: 25px;
    border-radius: 25px;
}

.btn-2:hover {
    background-color: rgb(69, 4, 4);
}

.btn-3 {
    display: inline-block;
    color: #333;
    padding: 8px 15px;
    border-radius: 25px;
    margin-top: 25px;
    border: 1px solid #333;
}

.btn-3 :hover {
    border: 1px solid #810e0e;
}

.footer {
    padding-bottom: 50px;
}

.links {
    display: flex;
    justify-content: space-between;
}
.link {
    width: 25%;
}

.link h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.link p {
    color: #8D7e7b;
    font-size: 14px;
    margin: 0 50px 15px 0;
}

.link ul li a {
    display: inline-block;
    font-size: 16px;
    color: #645e5e;
    margin-bottom: 10px;
}

.socials-2 img {
    width: 20px;
    height: 20px;
}

.link form {
    display: flex;
    flex-direction: column;
}

.inp {
    margin-bottom: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    outline: none;
}

.btn-4 {
    padding: 8px 15px;
    border-radius: 10px;
    background-color: #61bc00;
    border: 0;
    color: #DFDDE0;
}

@media (max-width: 991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
        color: #fff;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }
    .logo {
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
    .header-content {
        flex-direction: column;
        padding: 30px;
        margin-top: 150px;
    }
    .header-content h1 {
        font-size: 40px;
    }
    
    .header-content p {
        padding: 0;
        margin-bottom: 40px;
    }

    .butons {
        flex-direction: column;
        align-items: center;
    }

    .btn-1 {
        margin: 0 0 20px 0;
    }

    .socials-1 {
        display: none;
    }

    .arrow {
        display: none;
    }

    .recetas {
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }

    .recetas-1 {
        width: 100%;
        margin-bottom: 25px;
    }

    .recetas-2 {
        width: 100%;
    }

    .footer {
        padding: 30px;
    }

    .links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .link {
        width: 70%;
    }

    .link p {
        margin: 0 0 25px 0;
    }

    .socials-2 {
        margin-bottom: 15px;
    }




}